<!-- <header style="background-color: lightcoral; padding: 10px;"></header>
  <h1 style="text-align: center;color: black;">ToDo App</h1>
</header> -->
  <div class="bg-image" style="background-image: url('https://i.pinimg.com/originals/cc/fc/14/ccfc14e082b652d3547742da3a0863c6.jpg'); height: 100%;">
    <h1 style="text-align: center;color: black; font-size: 50px; padding-top: 10px;"><strong>ToDo App</strong></h1>
<br/>
<app-addtodo></app-addtodo>
<app-task></app-task>
<!-- <nav style="text-align:center;">
  <a routerLink="/task">Task |</a>
  <a routerLink="/addtodo"> Add ToDo |</a>
</nav> -->
<br/>
</div>
<router-outlet></router-outlet>
<br/>